@import "../abstract/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
}

main {
  font-family: $font-normal;
}

.content-head {
  font-family: $font-normal;
  font-size: $font-small-head;
}

.content-text {
  font-family: $font-normal;
  font-size: $font-small-head;
}

.sec-head {
  font-size: $font-sub-head;
  font-family: $font-normal;
}
