@import "../abstract/variables.scss";

.skill-item {
  display: flex;

  align-items: center;
  gap: 0.79rem;
  object-fit: cover;
  padding: 0.3rem 0.3rem 0.3rem 1rem;

  &:hover {
    // background-color: rgb(66, 32, 175);
    box-shadow: 0 0 25px 5px rgb(56, 56, 225);
    border-radius: 0.3rem;
    transform: scale(1.04);
    transition: all 0.3s linear;
  }
}

.skill-name {
  font-family: $font-medium;

  font-size: clamp(0.9rem, 1.1vw, 1.6rem);
}
.skill-level {
  font-size: 0.8rem;
}

.skills-section {
  // width: 76%;
  margin: 0 auto;
  padding: 2rem 0;
}
.skills-head {
  text-align: center;
  padding: 0 0 2.5rem 0;
  // font-family: $font-semibold;
}

.skills-card-name {
  // padding: 0 0 2.5rem 0;
  font-size: clamp(1.2rem, 1.3vw, 2rem);
  font-family: $font-medium;
  padding-bottom: 2rem;
}

.skills-container {
  // display: flex;
  // flex-direction: row;
  // gap: 1rem;
  // justify-content: center;
  // align-content: center;

  display: grid;
  grid-template-columns: repeat(2, 460px);
  align-content: center;
  justify-content: center;
  column-gap: 2rem;
  padding: 1rem;
}

.skills-card {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 3rem 4.5rem;
  // gap: 0.5rem;
  background-color: $container-color;
  // border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  border-radius: 1rem;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, clamp(110px, 100%, 170px));
  align-content: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 2.1rem;

  // row-gap: 1.3rem;
  // column-gap: 4.1rem;
}

// @media screen and (min-width: 1024px) {
//   .skills-container {
//     flex-direction: column;
//   }
// }
